.start {

}

#progressBar {
    border: 1px solid green;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.hide {
    visibility: hidden;
}

.bar {
    height: 30px;
    background-color: green;
    width: 0;
}

.start {
    animation: fill 3s linear;
}

@keyframes fill {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}